{{#extends 'base'}}

{{#block 'content'}}
<table class="'table table-hover">
    <thead>
        <tr>
            <th>#</th>
            <th>Title</th>
            <th>Description</th>
            <th>Price</th>
            <th>Release Date</th>
            <th>Year</th>
            <th>Stock</th>
        </tr>
    </thead>
</table>
{{/block}}

{{/extends}}