* {
    font-family: 'Inconsolata', monospace;
}

.home-hero-img {
    background-image: url('../images/home.jpg');
    height: 95vh;
    width: auto;
    background-repeat: no-repeat;
    background-size: cover;
}

.hero-wrapper {
    position: absolute;
    right: 10%;
    top: 30%;
}

.hero-text {
    margin-bottom: 20px;
    color: whitesmoke !important;
}

.navbar {
    background-color: rgb(9, 2, 2);
    color: white
}

.nav-link {
    color: white !important;
}

.table {
    table-layout: auto;
}

th {
    width: 5%;
}