{{#extends 'base'}}

{{#block 'content'}}
<div class="home-hero-img">
    <div class="hero-wrapper">
        <h2 class="hero-text">Welcome to Vinyl Jukebox Admin Page</h2>
        
    </div>
</div>

{{/block}}

{{/extends}}